* {
    margin: 0;
    padding: 0;
}

.block1, .block2 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 10px;
    transition: width 2s cubic-bezier(.45,-0.55,1,.37);
}

.block1:hover {
    width: 500px;
}

/*
    transition-duration: 2s, 1s, 5s;
    transition-property: width, background-color, height;
    transition-timing-function: ease;
    transition-delay: 0s, 5s, 2s;


}
*/
    /*transition: width 3s ease 2s, background-color 1s, ease 5s, height 5s ease 2s; короткая запрись
}

.block1:hover {
    background-color: blue;
    width: 500px;
    height: 500px;
}