* {
    padding: 0;
    margin: 0;
}

/*[href^="#"] {
    color: red;
}  ^-означает что начинается с = 

[src$="png"] { $ отбор по концовке
    width: 200px;
}
[href*="st"] { *-содержит
    color: green;
}
[class~="par2"] { ~ поиск по словам атрибутов
    color: red;
}

[class|="main"] { | выборка с дифисом (или только без него!)
    color: red;
}
*/